// DESIGN APPROVED COLORS ------------------ //
$white: #ffffff;
$black: #000000;
$bodyBg: #fbfbfd;
$inputGray: rgba(151, 151, 151, 0.25);
$placeholderGray: rgba(0, 0, 0, 0.3);
$filterGrayBorder: #e1e1e1;
$grey: #cccccc;
$light-grey: #ececec;
$dark-grey: #757575;
$jet-black: #343434;
$gray-placeholder: #d3d3d3;
$gray-background: #f6f6f6;
$gray-border: #a9a9a9;

$orange: #f15a0b;
$dark-orange: #d44900;
$light-orange: #f7e8da;
$filterOrangeText: #ff5a00;
$crush-orange: #ff5900;
$red-error: #c11616;

$red-notification: #c11616;

$green: #16c132;
// shadows
$boxshadow-18: rgba(0, 0, 0, 0.18);
